<template>
  <div>
    <b-form
      @submit="onSubmit"
      @reset="onReset"
    >
      <b-form-group
        label="Nama Sidebar"
        :invalid-feedback="invalidName"
        label-for="form-name"
      >
        <b-form-input
          id="form-name"
          name="name"
          type="text"
          required
          placeholder="Masukkan Nama Sidebar (tidak boleh kosong)"
          v-model="form.name"
          :state="nameState"
        />
      </b-form-group>
      <b-form-group
        label="Nama Sidebar"
        label-for="form-name"
      >
        <b-form-input
          id="form-title"
          name="title"
          type="text"
          required
          placeholder="Masukkan title / judul sidebar"
          v-model="form.title"

        />
      </b-form-group>
    </b-form>

    <el-tiptap
      v-model="form.html"
      :extensions="extensions"
    />
  </div>
</template>

<script>
import { ElementTiptap } from 'element-tiptap';
import {
  // necessary extensions
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
  Image,
  Preview,
  TextAlign,
  TextColor
} from "element-tiptap";
import axios from "axios";
import { Origami } from "vue-loading-spinner";

export default {
  components: {
    'el-tiptap': ElementTiptap, Origami
  },
  data () {
    return {
      form: {
        name: '',
        title: null,
        html: ''
      },
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph(),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline(),
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
        new Image(),
        new Preview(),
        new TextAlign(),
        new TextColor()
      ]

    }
  },
  computed: {
    nameState () {
      return this.form.name.length < 3 ? false : true
    },
    invalidName () {
      return this.form.name.length < 3 ? 'Panjang nama minimal 3 huruf' : ''
    }

  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
    },
    onReset (e) {
      e.preventDefault()
    }
  },

}
</script>
