<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {

  methods: {
    addSidebar () {
      this.$router.push({ name: 'manajemenSidebarAdd' })
    }
  },
}
</script>

<style>
</style>
