<template>
  <div>
    <b-card
      v-for="(item, index) in bannerLoc"
      :key="index"
      no-body
      class="mb-1"
    >
      <b-card-header
        header-tag="header"
        class="p-1"
        role="tab"
      >
        <b-button
          block
          href="#"
          @click="editBanner(item)"
          v-b-toggle.accordion-1
          variant="info"
        >Banner {{ item }}</b-button>
      </b-card-header>

    </b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: 'ahahha',
      bannerLoc: [
        'header',
        'statistik',
        'baris-ketiga',
        'baris-keenam',
        // 'sidebar',
        'popup',
        'floating',
        'livedraw-atas',
        'livedraw-bawah',
      ]

    }
  },
  computed: {

  },
  methods: {
    editBanner (location) {
      this.$router.push({ name: 'manajemenBannerEdit', params: { position: location } })
    }

  },
}
</script>

<style>
</style>
