<template>
  <div>
    <b-navbar toggleable="lg" class="navbar-expand-md navbar-light bg-light shadow-sm">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav v-for="(item, index) in menuList" :key="index">
          <b-nav-item-dropdown v-if="item.submenu">
            <b-nav-item
              v-for="(submenu, index) in item.submenu"
              :key="index"
              :to="{name:submenu.route}"
            >{{submenu.name}}</b-nav-item>
            <template v-slot:button-content>{{ item.name }}</template>
          </b-nav-item-dropdown>

          <b-nav-item :to="{name:item.route}" v-else>{{ item.name }}</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="/logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import adminmenu from "./menu/admin";
import usermenu from "./menu/user";
export default {
  props: ["level"],
  data: function() {
    return {
      menu: null
    };
  },
  created: function() {
    console.log(this.level);
  },
  computed: {
    menuList: function() {
      if (this.level == "admin") {
        return adminmenu;
      } else {
        return usermenu;
      }
    }
  }
};
</script>

<style>
</style>
