.banner-floating {
    text-align: center;
    display: block;
    max-width: 728px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.banner-floating a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.stickyfooter {
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#fixedban{
    margin:-4px;
}

// .lucky-sticky {
//     position: unset;
// }
