.livedraw {
    width: 99%;
    margin: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
}

.border-sgp {
    border: 2px solid #044da4;
}

.border-sdy {
    border: 2px solid #cc7402;
}

.border-hk {
    border: 2px solid #600014;
}

.border-london {
    border: 2px solid #434343;
}

.border-shanghai {
    border: 2px solid #ae0000;
}

.border-paris {
    border: 2px solid #a69081;
}

.border-vegas {
    border: 2px solid #590000;
}

.border-canada {
    border: 2px solid #ff5757;
}

.border-portugal {
    border: 2px solid #35604c;
}

.border-la {
    border: 2px solid #20566c;
}

.border-tokyo {
    border: 2px solid #ff9d9d;
}

.border-mexico {
    border: 2px solid #639600;
}

.livedraw-table {
    width: 100%;
    display: block;
    padding: 1px;
    border-collapse: collapse;
    font-family: Arial;
    font-weight: bold;
}

.box-color {
    border: 1px solid #f2f2f2;
    height: 30px;
    width: 1%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-value {
    background: linear-gradient(
        to bottom,
        #c6c6c6 0%,
        #cccccc 50%,
        #f9f9f9 100%
    );
    width: 1%;
    border: 1px solid #f2f2f2;
    text-align: center;
    height: 35px;
    font-size: 24px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#first {
    color: black;
    font-size: 32px;
}

.sgp {
    background-image: linear-gradient(
        to bottom,
        #1c578c 0%,
        #171260 47%,
        #0c204f 52%,
        #1165aa 100%
    );
}

.hk {
    background-image: linear-gradient(
        to bottom,
        #600014 0%,
        #6d0019 48%,
        #6d0019 48%,
        #a90329 99%
    );
}

.sdy {
    background-image: linear-gradient(to bottom, #f9642c, #ff9000);
}

.london {
    background-image: linear-gradient(to bottom, #494b4a, #989898);
}

.shanghai {
    background-image: linear-gradient(to bottom, #ae0000, #f70201);
}

.paris {
    background-image: linear-gradient(to bottom, #a69081, #debca6);
}

.vegas {
    background-image: linear-gradient(to bottom, #c79046, #ffdba8);
}

.canada {
    background-image: linear-gradient(to bottom, #c20005, #ff5757);
}

.portugal {
    background-image: linear-gradient(to bottom, #11281e, #35604c);
}

.la {
    background-image: linear-gradient(to bottom, #00374d, #20566c);
}

.tokyo {
    background-image: linear-gradient(to bottom, #e10019, #ff7676);
}

.mexico {
    background-image: linear-gradient(to bottom, #406100, #639600);
}

.border-barca {
    border: 2px solid #264653;
}

.barca {
    background-image: linear-gradient(to bottom, #2a9d8f, #264653);
}

.border-liver {
    border: 2px solid #a10702;
}

.liver {
    background-image: linear-gradient(to bottom, #f44708, #a10702);
}

.border-washington {
    border: 2px solid #4b111b;
}

.washington {
    background-image: linear-gradient(to bottom, #781b2b, #4b111b);
}

.border-seoul {
    border: 2px solid #001c55;
}

.seoul {
    background-image: linear-gradient(to bottom, #0e6ba8, #001c55);
}

.border-manchester {
    border: 2px solid #ff9a00;
}

.manchester {
    background-image: linear-gradient(to bottom, #ffb515, #ff9a00);
}

.border-hcm {
    border: 2px solid #781b2b;
}

.hcm {
    background-image: linear-gradient(to bottom, #c21f40, #781b2b);
}

.border-bangkok {
    border: 2px solid #9381ff;
}

.bangkok {
    background-image: linear-gradient(to bottom, #b8b8ff, #9381ff);
}

.border-amsterdam {
    border: 2px solid #f8b500;
}

.amsterdam {
    background-image: linear-gradient(to bottom, #ffd563, #f8b500);
}

.border-brazil {
    border: 2px solid #76a21e;
}

.brazil {
    background-image: linear-gradient(to bottom, #c6cf65, #76a21e);
}

.img-livedraw {
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    background: white;
    text-align: center;
}

#img30 {
    width: 250px;
    padding: 5px;
    margin: 8px;
}

#img20 {
    width: 250px;
    padding: 5px;
    margin: 8px;
}

// banner
#livedraw-banner-top {
    width: 100%;
}
#livedraw-banner-footer {
    width: 100%;
}
#livedraw-banner-top  img {
    width: 100%;
}
#livedraw-banner-footer  img {
    width: 100%;
}

.buttonreload {
    background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    color: white;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}


.button-livedraw{
    background-color: teal;
    color:white;
}
