

/* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.7);
  cursor:pointer;
  display:block;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1100px;
  min-height: 100px;
  vertical-align: middle;
  // width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 3px
}
.popupCloseButton {
  color:black;
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
/* Popup box BEGIN */

@media only screen and (max-width: 640px) {
  .hover_bkgr_fricc > div {
    width: 90%;
  }
}
