.center {
    text-align: center;
}
h3.user-please-login {
    text-align: center;
    margin-bottom: 10px;
}

// syarat dan ketentuan
.snk-text {
    width: 100%;

    background-color: #333;
    color: white;
    font-size: 1.2em;
}
.snk-title {
    text-align: center;
}

.user-login-name {
    color: #ff9400;
}

.welcome-user {
    text-align: center;
}
/* CSSTerm.com CSS login form Dark Mini */

.login {
    margin: auto;
    border: 1px #ccc solid;
    padding: 30px;
    background-color: #29363f;
    color: #fff;
    text-align: center;
    margin-bottom: 2em;
}

.field,
.btn {
    border: 1px #525d65 solid;
    padding: 10px;
}

.field {
    background: #29363f;
    margin: 5px 25px;
    width: 216px;
    color: #fff;
}

.login h1,
.login p,
.btn,
.forgot {
    color: #ccc;
}

.btn {
    background-color: #29363f;
    font-weight: bold;
    margin: 10px 25px;
    width: 238px;
}

.btn-logout {
    font-weight: bold;
    text-transform: uppercase;
    color: teal;
}

.fa-angle-down {
    width: 1em;
}

.btn:hover {
    cursor: pointer;
}

// klasemen

.user-history {
    padding-top: 30px;
}

.isjp {
    color: #ea59fb;
}
.jp,
.notjp {
    color: #00fcff;
}

.button-back {
    height: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}
// .history-header {
//   width: 100%;
//   border: 1px solid white;
//   text-align: center;
// }
// .history-item {
//   text-align: center;
//   display: inline-block;
//   border: 1px solid white;
//   width: auto;
//   padding: 5px;
// }
.hidden {
    display: none;
}
@media only screen and (max-width: 640px) {
    .shio-table {
        font-size: 10px;
    }
    .klasemen-lomba {
        flex-wrap: wrap;
    }
    .klasemen-lomba div:first-child {
        border-radius: 5px;
    }
    .klasemen-lomba div:nth-child(2) {
        flex-grow: 1;
    }
    .klasemen-lomba div:nth-child(3) {
        flex-basis: 100%;
    }
    .klasemen-lomba div:nth-child(5) {
        flex-basis: 100%;
    }
    .klasemen-lomba div {
        justify-content: center;
        flex-basis: 50%;
    }
    .klasemen-lomba.header {
        display: none;
    }
    .klasemen-lomba div:last-child {
        flex-basis: 100%;
    }
}
/*  batas untuk mobile */
.klasemen-lomba.header {
    div {
        font-size: 2em;
    }
    div:nth-child(3) {
        justify-content: center;
    }
}

.klasemen-lomba.header {
    border: 0;
    font-weight: 700;
    font-size: 0.6em;
    background: 0 0;
}
.klasemen-lomba.header div:first-child {
    background: 0 0;
}

.klasemen-lomba.top1 {
    background: -webkit-linear-gradient(bottom, #82dc57, #16ba89);
}
.klasemen-lomba.top2 {
    background-color: #4a7644;
}
.klasemen-lomba.top3 {
    background-color: #3a5237;
}
.klasemen-lomba > div {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 100%;
}

.klasemen-lomba {
    display: flex;
    position: relative;
    flex-direction: row;
    border: 1px solid #575a5f;
    border-radius: 5px;
    width: 100%;
    margin: 0.7em 0;
    font-size: 1em;

    div:nth-child(3) {
        justify-content: center;
    }

    div:first-child {
        margin: 5px;
        max-width: 50px;
        border-radius: 5px;
        background-color: #575a5f;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }

    div:last-child {
        margin-left: auto;
        display: flex;
        justify-content: center;
    }

    div:last-child a {
        padding: 15px;
        font-size: 1.4em;
        letter-spacing: 0.2em;
    }

    div:last-child a.big {
        padding: 20px 15px;
        font-size: 1.5em;
        letter-spacing: 0.2em;
    }
    .bandar-title {
        font-weight: 700;
        font-size: 1.2em;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    div:nth-child(5) img {
        width: 20px;
        padding: 3px;
    }
    .cek-history {
        text-align: center;
        background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%);
        text-decoration: none;
        font-weight: bolder;
        border-radius: 5px;
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}

span.jp {
    color: orange;
    font-weight: bold;
    font-size: 1.2em;
}

.pagination {
    a {
        background-color: teal;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}
.caption {
    text-align: center;
    margin-top: 1.5em;
    color: white;
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

.keyword {
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 600px) {
}

