<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <b-alert
          variant="success"
          dismissible
          fade
          :show="showAlert"
          @dismissed="showAlert = false"
          >Data Berhasil diupdate !</b-alert
        >
        <!-- <b-input-group class="mt-3 mb-3" size="sm">
          <b-button block variant="primary" size="sm">Tambah User</b-button>
        </b-input-group> -->
        <h2 class="text-center">DAFTAR ANGGOTA TERDAFTAR</h2>
        <button class="btn btn-primary" @click="gotoEditUser('new')">
          Tambah User
        </button>

        <button class="btn btn-danger" @click="disableAll()">
          Disable All
        </button>

        <button class="btn btn-info" @click="enableAll()">Enable All</button>
        <button class="btn btn-danger" @click="deleteAll()">Delete All</button>

        <b-input-group class="mt-3 mb-3" size="sm">
          <b-form-input
            v-model="keyword"
            placeholder="Search"
            type="text"
          ></b-form-input>
          <b-btn
            class="p-0"
            :disabled="!keyword"
            variant="link"
            size="sm"
            @click="keyword = ''"
          ></b-btn>
        </b-input-group>
        <b-overlay :show="showOverlay" rounded="sm">
          <b-table
            :items="filteredTables"
            striped
            hover
            bordered
            :fields="tableData"
            :per-page="perPage"
            :current-page="currentPage"
            @row-clicked="gotoEditUser"
          >
            <template slot="controls" slot-scope="row">
              <b-button
                size="sm"
                v-show="isHovered(row.item)"
                @click="buttonClicked(row.item)"
                >Click me</b-button
              >
            </template>
          </b-table>
          <b-pagination
            v-model="currentPage"
            v-if="filteredTables"
            :total-rows="filteredTables.length"
            :per-page="perPage"
            aria-controls="my-table"
            align="fill"
          >
          </b-pagination>

          <template v-slot:overlay>
            <div class="text-center">
              <Origami></Origami>
            </div>
          </template>
        </b-overlay>
        <b-modal
          id="modalEditSetting"
          v-if="editData != null"
          @ok="updateSettings"
          @cancel="closeModal"
        >
          <template v-slot:modal-header>
            <h5>Editing: {{ editData.name }}</h5>
          </template>
          <b-form-group>
            <b-form-input
              id="value"
              size="sm"
              v-model="editData.value"
              trim
            ></b-form-input>
            <b-form-text text-variant="danger">{{
              editData.description
            }}</b-form-text>
          </b-form-group>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
import Origami from "vue-loading-spinner/src/components/Origami";
export default {
  components: {
    Origami,
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      keyword: "",
      showAlert: false,
      loading: false,
      editData: null,
      tableItems: null,
      hoveredRow: null,
      tableData: [
        {
          key: "name",
          name: "userName",
          label: "Nama",
          sortable: true,
          thClass: "text-left small",
          tdClass: "text-left small",
        },
        {
          key: "email",
          name: "userEmail",
          label: "Email",
          sortable: true,
          thClass: "text-center small",
          tdClass: "text-center small text-wrap",
        },
        {
          key: "facebook",
          name: "userFacebook",
          label: "FB",
          sortable: true,
          thClass: "text-center small d-none d-lg-block",
          tdClass: "text-center small d-none d-lg-block",
          formatter: (value) => {
            if (value != null) {
              return value;
            } else {
              return "~NOTSET~";
            }
          },
        },
        {
          key: "status",
          name: "status",
          label: "Status",
          sortable: true,
          thClass: "text-center small",
          tdClass: "text-center small text-wrap",
        },
        // {
        //   key: "description",
        //   name: "optionDesc",
        //   label: "Description",
        //   sortable: true,

        //   thClass: "text-left",
        //   tdClass: "text-center small"
        // }
      ],
    };
  },
  created: function () {
    // console.log(this.$route.params.id);
  },
  computed: {
    showOverlay() {
      if (this.loading == true) {
        return true;
      }
      if (this.tableItems == null) {
        return true;
      } else {
        return false;
      }
    },
    filteredTables() {
      return this.keyword
        ? this.tableItems.filter(
            (item) =>
              item.name.toLowerCase().includes(this.keyword.toLowerCase()) ||
              item.email.toLowerCase().includes(this.keyword.toLowerCase()) ||
              (item.facebook != null
                ? item.facebook
                    .toLowerCase()
                    .includes(this.keyword.toLowerCase())
                : "")
          )
        : this.tableItems;
    },
  },
  mounted: function () {
    this.refreshList();
  },
  methods: {
    refreshList() {
      var vm = this;
      axios.get("/api/user/list").then(function (response) {
        if (response.status == 200) {
          vm.tableItems = response.data.data;
          // console.log(vm.tableItems);
        } else {
        }
      });
    },
    enableAll() {
      var vm = this;
      axios.post("/api/user/enableAll").then(function (response) {
        if (response.status == 200) {
          vm.refreshList();
          // console.log(vm.tableItems);
        } else {
        }
      });
    },
    deleteAll() {
      this.$confirm({
        message: `Are You Sure to Delete All Data?`,
        button: {
          no: "No",
          yes: "Yes",
        },
        /**
         * Callback Function
         * @param {Boolean} confirm
         */
        callback: (confirm) => {
          if (confirm) {
            this.deleteAllAction();
          }
        },
      });


    },
    deleteAllAction(){
            var vm = this;
        axios.post("/api/user/deleteAll").then(function (response) {
          if (response.status == 200) {
            vm.refreshList();
            // console.log(vm.tableItems);
          } else {
          }
        });
    },
    disableAll() {
      var vm = this;
      axios.post("/api/user/disableAll").then(function (response) {
        if (response.status == 200) {
          vm.refreshList();
          // console.log(vm.tableItems);
        } else {
        }
      });
    },
    gotoEditUser(item) {
      this.$router.push({
        name: "manajemenUserEdit",
        params: {
          id: item == "new" ? "new" : item.id,
        },
      });
    },
    editSettings(item) {
      (this.editData = item), this.$bvModal.show("modalEditSetting");
      // this.loading = true;
      // console.log(item);
    },
    closeModal() {
      this.loading = false;
    },
    updateSettings() {
      // var vm = this;
      // this.loading = true;
      // console.log(this.editData);
      // axios
      //   .post("/api/settings/update", this.editData)
      //   .then(function(response) {
      //     if (response.status == 200) {
      //       vm.showAlert = true;
      //     }
      //   });
      // vm.loading = false;
    },
  },

};
</script>

<style>
</style>
