<template>
  <div>

    <b-form @submit="onSubmit">
      <b-form-group label="Header">

        <custom-html
          v-if="isLoading!=true"
          v-model="custom.header"
          v-on:htmlUpdate="updateHeader"
        ></custom-html>
      </b-form-group>
      <b-form-group label="Footer">

        <custom-html
          v-if="isLoading!=true"
          v-model="custom.footer"
          v-on:htmlUpdate="updateFooter"
        ></custom-html>
      </b-form-group>
      <b-form-group>

        <b-button
          :disabled="isLoading==true"
          variant="primary"
          block
          type="submit"
        >UPDATE DATA</b-button>

      </b-form-group>

    </b-form>

  </div>
</template>

<script>
// import axios from 'axios'
export default {
  data () {
    return {
      isLoading: true,
      custom: {
        header: '',
        footer: '',
      }
    }
  },
  created () {
    this.fetch();

  },
  methods: {
    showNotif (variant = null, title = 'default', msg = 'default', append = true) {

      this.$bvToast.toast(msg, {
        title: title,
        autoHideDelay: 5000,
        variant: variant,
        appendToast: append
      })
    },
    onSubmit (e) {

      e.preventDefault();

      var vm = this
      vm.isLoading = true
      axios.post('/api/settings/custom-lomba', this.custom)
        .then(r => {
          if (r.status == 200 && r.data.success == true) {
            vm.isLoading = false
            vm.showNotif('success', 'Success', 'Custom data berhasil di update')
          } else {
            vm.isLoading = false
            vm.showNotif('danger', r.data.error.code, r.data.error.msg)

          }
        }).catch(e => {
          console.log(e)
          vm.showNotif('danger', 'Error', 'error')
          vm.isLoading = false
        })

    },
    updateHeader (value) {
      this.custom.header = value
      //   console.log(this.form)

    },
    updateFooter (value) {
      this.custom.footer = value
      //   console.log(this.form)

    },
    fetch () {
      var vm = this
      axios.get('/api/settings/custom-lomba')
        .then(r => {

          r.status == 200 ** r.data.success == true ? vm.custom = r.data.data : console.log(r.error)
          vm.isLoading = false
        })
        .catch(e => {
          console.log(e)
        })
    },

  },
}
</script>

<style>
</style>
