 <template>
  <div>
    <div
      class="periode-info"
      v-if="currentPeriode!=null"
    >
      <h2 class="text-center mb-4">
        Data Periode : {{ currentPeriode.periode.nama }}
      </h2>

      <div class="info mt-3 text-primary text-center">
        Start : <b-badge variant="info">{{ currentPeriode.periode.mulai }}</b-badge> End : <b-badge variant="danger">{{ currentPeriode.periode.selesai }}</b-badge>
      </div>

      <h3 class="text-center text-primary mb-4 mt-2">User Input</h3>
      <b-form-group>
        <b-form-input
          v-model="keyword"
          placeholder="Ketik keyword pencarian untuk filter data"
        >

        </b-form-input>
      </b-form-group>

      <!-- tes -->

      <b-table
        id="my-table"
        :items="filterItem"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="table.fields"
        small
      >
        <template v-slot:cell(tebakan)="value">
          <b-badge
            pill
            variant="danger"
          > {{ value.value[0] == null ? '--' : value.value[0] }} </b-badge>
          <b-badge
            pill
            variant="warning"
          > {{ value.value[1] == null ? '--' : value.value[1] }} </b-badge>
          <b-badge
            pill
            variant="primary"
          > {{ value.value[2]== null ? '--' : value.value[2] }} </b-badge>
          <b-badge
            pill
            variant="success"
          > {{ value.value[3] == null ? '--' : value.value[3] }} </b-badge>
          <b-badge
            pill
            variant="info"
          > {{ value.value[4]== null ? '--' : value.value[4]  }} </b-badge>

        </template>
        <template v-slot:cell(void)="value">

          <b-badge
            @click="voidThis(value)"
            pill
            :variant="value.value==true? 'danger':'success'"
          > {{ value.value==true? 'void':'valid' }} </b-badge>

        </template>
      </b-table>

      <b-pagination
        v-model="currentPage"
        :total-rows="filterItem.length"
        :per-page="perPage"
        aria-controls="my-table"
        align="fill"
      >

      </b-pagination>

      <!-- tes -->

      <!-- <b-table
        small
        hover
        :current-page="currentPage"
        :items="currentPeriode.periode.user_input"
        :fields="table.fields"
      >

        <template v-slot:cell(tebakan)="value">
          <b-badge
            pill
            variant="danger"
          > {{ value.value[0] }} </b-badge>
          <b-badge
            pill
            variant="warning"
          > {{ value.value[1] }} </b-badge>
          <b-badge
            pill
            variant="primary"
          > {{ value.value[2] }} </b-badge>
          <b-badge
            pill
            variant="success"
          > {{ value.value[3] }} </b-badge>
          <b-badge
            pill
            variant="info"
          > {{ value.value[4] }} </b-badge>

        </template>
        <template v-slot:cell(void)="value">

          <b-badge
            @click="voidThis(value)"
            pill
            :variant="value.value==true? 'danger':'success'"
          > {{ value.value==true? 'void':'valid' }} </b-badge>

        </template>

      </b-table>
      <b-pagination
        :total-rows="filterItem.length"
        per-page="15"
        v-model="currentPage"
      /> -->

    </div>

  </div>
</template>

 <script>
// import axios from 'axios'
export default {

  data () {
    return {
      perPage: 15,
      currentPage: 1,
      keyword: '',
      currentPeriode: null,

      table: {
        fields: [
          {
            key: 'userName',
            label: 'NAMA',
            sortable: true,
          },
          {
            key: 'tebakan',
            label: 'PREDIKSI',
            thClass: 'text-center',
            tdClass: 'text-center',
            sortable: true,

          },
          {
            key: 'void',
            label: 'VOID',
            thClass: 'text-center',
            tdClass: 'text-center',
            sortable: true,

          },
          {
            key: 'tanggal',
            label: 'TANGGAL',
            thClass: 'text-center',
            tdClass: 'text-center',
            sortable: true,

          },

        ]
      }


    }
  },
  computed: {
    filterItem () {
      return this.keyword
        ? this.currentPeriode.periode.user_input.filter(
          item =>
            item.userName.toLowerCase().includes(this.keyword.toLowerCase()) ||
            item.tanggal.toLowerCase().includes(this.keyword.toLowerCase())

        )
        : this.currentPeriode.periode.user_input;
    },
    varianRandom () {
      var items = Array('success', 'primary', 'danger', 'warning')
      var item = items[Math.floor(Math.random() * items.length)]
      return item
    }

  },
  created () {
    this.fetchCurrentPeriode()

  },
  methods: {
    voidThis (val) {
      console.log(val.item)
    },
    fetchCurrentPeriode () {
      var vm = this
      axios.get('/api/periode/result')
        .then(r => {
          r.status == 200 && r.data.success == true ? vm.currentPeriode = r.data.data : console.log(r)
        }).catch(e => {
          console.log(e)
        })
    }

  },

}
 </script>

 <style>
</style>
