<template>
  <div>

    <div
      id="dukunp
      rediksi"
      v-if="isAllowed ==true"
    >

      <div class="dukunprediksi-isi">
        <div class="pasaran1">

          <div class="pengantar">Silahkan isi prediksi untuk hari ini {{tanggalNamaBulan }}</div>

          <div class="pasaran1-form">
            <table class="shio-table shio-tablex">
              <tr>
                <td
                  class="nama-pasaran pasaran1"
                  colspan="2"
                >Pasaran Sydney:</td>
              </tr>
              <tr>

                <td>Colok Bebas</td>
                <td>
                  <select
                    name="cbpasaran1"
                    id="cbpasaran1"
                    class="dukun-select"
                    v-model="formData.Sydney.colokbebas"
                  >
                    <option
                      v-for="(n,index) in 10"
                      :key="index"
                      :value="index"
                    >{{ index }}</option>

                  </select>
                </td>
              </tr>
              <tr>
                <td>Kombinas 2D </td>
                <td>
                  <select
                    name="cbpasaran2"
                    id="cbpasaran2"
                    class="dukun-select"
                    v-model="formData.Sydney.kombinasi2d"
                  >
                    <option
                      v-for="(item, index) in kombinasiOption"
                      :key="index"
                      :value="index"
                    >{{item.name}}</option>

                  </select>
                </td>
              </tr>
            </table>

          </div>

        </div>
        <div class="pasaran2">
          <div class="pasaran2-form">
            <div class="pasaran1-form">
              <table class="shio-table shio-tablex">
                <tr>
                  <td
                    class="nama-pasaran pasaran1"
                    colspan="2"
                  >Pasaran Hongkong:</td>
                </tr>
                <tr>

                  <td>Colok Bebas</td>
                  <td>
                    <select
                      name="cbpasaran1"
                      id="cbpasaran1"
                      class="dukun-select"
                      v-model="formData.Hongkong.colokbebas"
                    >
                      <option
                        v-for="(n,index) in 10"
                        :key="index"
                        :value="index"
                        class="option-class"
                      >{{ index }}</option>

                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Kombinasi 2D </td>
                  <td>
                    <select
                      name="cbpasaran2"
                      id="cbpasaran2"
                      class="dukun-select"
                      v-model="formData.Hongkong.kombinasi2d"
                    >
                      <option
                        v-for="(item, index) in kombinasiOption"
                        :key="index"
                        :value="index"
                        class="option-class"
                      >{{item.name}}</option>

                    </select>
                  </td>
                </tr>
              </table>

            </div>
          </div>

        </div>

      </div>

      <button
        @click="kirimPrediksi"
        type="button"
        class="buttonkirimprediksi"
      >
        KIRIM PREDIKSI
      </button>

    </div>
    <div
      id="dukunprediksihasil"
      v-else-if="isAllowed==null"
    >
      ini masih null null

    </div>
    <div
      id="allowedfalse"
      v-else
    >
      <!-- tampilkan hasil input user hari ini -->
      <UserInput
        :data="userinput"
        :tanggal="hariTanggal"
        :kombinasiOption="kombinasiOption"
        :user="user"
        :custom="custom"
        :isclosed="isclosed"
        :msg="msg"
      ></UserInput>

    </div>

    <div class="jarak">

    </div>
    <Klasemen></Klasemen>

    <pre v-if="debug==true">
        currentTime : {{ currentTime }}
        tanggal : {{ tanggal }}
        buka : {{ openAt }}
        tutup : {{ closeAt }}
        boleh input : {{ isAllowed }}
        ====
        formData: {{ formData }}

    </pre>
  </div>
</template>

<script>
import UserInput from './UserInput'
import Klasemen from './Klasemen'
import SNKDukun from './SNKDukun'
export default {
  components: {
    UserInput, Klasemen, SNKDukun
  },
  name: 'dukun-togel',
  data () {
    return {
      debug: false,
      loginStatus: null,
      user: null,
      userinput: null,
      custom: null,
      msg: null,
      kombinasiOption: [
        {
          name: 'Besar - Genap'
        },
        {
          name: 'Besar - Ganjil'
        },
        {
          name: 'Kecil - Genap'
        },
        {
          name: 'Kecil - Ganjil'
        },


      ],

      formData: {
        Sydney: {
          colokbebas: 0,
          kombinasi2d: 0
        },
        Hongkong: {
          colokbebas: 0,
          kombinasi2d: 0
        },
      },
      pasaran1: {
        colokbebas: '',
        kombinasi: ''
      },
      pasaran2: {
        colokbebas: '',
        kombinasi: ''
      },
      currentTime: '',

      tanggal: moment().tz('Asia/Jakarta').format('dddd DD-MM-YYYY'),
      tanggalNamaBulan: moment().tz('Asia/Jakarta').format('dddd DD MMMM YYYY'),
      hariTanggal: moment().tz('Asia/Jakarta').format('dddd, DD MMMM YYYY'),

      openAt: moment().tz('Asia/Jakarta').format('YYYY-MM-DD') + ' 00:00:00',
      closeAt: moment().tz('Asia/Jakarta').format('YYYY-MM-DD') + ' 12:00:00',

    }
  },
  computed: {
    isclosed () {
      return moment(this.currentTime).isAfter(moment(this.openAt)) && moment(this.currentTime).isBefore(moment(this.closeAt)) ? false : true
    },
    isAllowed () {
      return moment(this.currentTime).isAfter(moment(this.openAt)) && moment(this.currentTime).isBefore(moment(this.closeAt)) && this.userinput == null ? true : false
    }
  },
  created () {
    setInterval(this.getNow, 1000)
    this.userData()
    this.userStatus()
    this.fetchCustomMessage()

  },
  methods: {
    fetchCustomMessage () {
      var vm = this
      axios.get('/api/dukuntogel/custommsg')
        .then(r => {

          vm.msg = r.data
        })
        .catch(e => {
          console.log(e)
        })
    },
    userData () {
      var vm = this
      axios.get('/api-dukuntogel/user')
        .then(r => {
          if (r.status == 200 && r.data.success == true) {
            vm.user = r.data.data
            vm.custom = r.data.custom
          }
        }).catch(e => {
          console.log(e)
        })
    },
    userStatus () {
      var vm = this
      axios.get('/api-dukuntogel/tebakan')
        .then(r => {
          if (r.status == 200 && r.data.success == true) {
            vm.userinput = r.data.data
          }
        }).catch(e => {
          console.log(e)
        })
    },

    getNow: function () {
      const now = moment().format('YYYY-MM-DD HH:mm:ss')
      this.currentTime = now


      // this.timestamp = dateTime;
    },
    kirimPrediksi () {
      var vm = this
      axios.post('/api-dukuntogel/tebakan', this.formData)
        .then(r => {
          console.log(r.data)
          vm.userStatus();
        }).catch(e => {
          console.log(e)
        })
    }

  },

}
</script>

<style lang="scss">
.jarak {
  margin-bottom: 6em;
}
.boxresult {
  font-size: 1.2em;
  margin-top: 1em;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid white;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.dukun-select {
  padding: px;
  height: 35px;
  width: 100%;
  border-radius: 4px;
  color: white;
  background-color: #35414a;
}

.dukun-input {
  width: 100%;
  padding: 10px;
  height: 35px;
  border-radius: 4px;
}
.shio-tablex {
  margin-top: 1em;
  font-size: 0.8em;

  td {
    &:first-child {
      text-align: left;
      padding-left: 10px;
    }
  }
}
.btn-dukuntogel {
  width: 100%;
}

.buttonisiprediksi,
.buttonkirimprediksi {
  display: block;
  margin-top: 10px;
  padding: 15px;
  color: black;
  background-color: #f7be00;
  font-weight: bold;
  width: 100%;
  border: none;

  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    // display: none;
    background-color: grey;
  }
}
</style>

