<template>
  <div>
    <div class="leaderboard__rank ld-dukun">
      <div
        class="leaderboard__rank--list ld-dukun--list"
        id="leaderboard_rank"
      >
        <div
          class="leaderboard__rank--row ld-dukun--row"
          v-for="(item, index) in tableData"
          :key="index"
        >
          <div>

            <div class="leaderboard__rank--row--number ld-dukun--row-number is-first">#{{ index+1 }}</div>
            <div class="leaderboard__rank--row--user ld-dukun--row-user">

              <div class="leaderboard__rank--row--username ld-dukun--row-username">{{ item.name }}</div>
            </div>
            <div class="leaderboard__rank--row--point ld-dukun--row-point">{{ item.skor }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: 'mini-klasemen-dukun',
  data () {

    return {
      name: 'mini-klasemen-dukun',
      pengumuman: {
        html: ''
      },
      angka: null,
      keyword: '',
      userSelectedHistory: null,
      userHistory: null,
      perPage: 20,
      currentPage: 0,
      tableData: null,
    }
  },
  computed: {
    prevClass () {
      return this.currentPage == 0 ? 'hidden' : ''
    },
    nextClass () {
      return this.currentPage == this.pageCount - 1 || this.pageCount == 0
        ? 'hidden' : ''
    },

    // hitung paginasi
    pageCount () {
      if (this.tableData != null) {
        let l = this.tableData.length,
          s = this.perPage;
        return Math.ceil(l / s);

      }
    },
    paginatedData () {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;

      return this.tableData != null ? this.tableData.slice(start, end) : this.tableData
    },
    tableDataFilter () {
      return this.keyword != '' ? this.tableData.filter(
        item =>
          item.name.toLowerCase().includes(this.keyword.toLowerCase())

      ) : this.paginatedData

    }
  },

  created () {
    this.getKlasemen()

  },
  methods: {


    filterPoin (e) {
      console.log(e)
    },

    getKlasemen () {
      var vm = this
      axios.get('/api/dukuntogel/klasemen?limit=5')
        .then(r => {
          r.status == 200 ? vm.tableData = r.data.data : ''
        }).catch(e => {
          console.log(e)
        })
    },
    next () {
      this.currentPage < this.pageCount - 1 ? this.currentPage = this.currentPage + 1 : ''
      console.log(this.currentPage + ' max : ' + this.pageCount)
    },
    prev () {
      this.currentPage >= 0 ? this.currentPage = this.currentPage - 1 : ''
      console.log(this.currentPage + ' max : ' + this.pageCount)
    },
    checkHistory (iduser, angka) {
      this.userSelectedHistory = iduser
      this.angka = angka
    },
    showKlasemen () {
      this.userSelectedHistory = null
      this.userHistory = null
    }
  },


}
</script>



