<template>
  <div>
    <b-form-group>
      <b-form-input
        v-model="keyword"
        placeholder="Filter / Cari"
      ></b-form-input>
    </b-form-group>

    <div v-if="tableItems!=null">
      <b-table
        :items="filteredTables"
        striped
        hover
        bordered
        :fields="tableData"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="gotoEditUser"
      >
        <template
          slot="controls"
          slot-scope="row"
        >
          <b-button
            size="sm"
            v-show="isHovered(row.item)"
            @click="buttonClicked(row.item)"
          >Click me</b-button>
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="filteredTables.length"
        :per-page="perPage"
        aria-controls="my-table"
        align="fill"
      >

      </b-pagination>

    </div>

  </div>
</template>

<script>
export default {
  name: 'periode-list',
  data () {
    return {
      currentPage: 1,
      perPage: 10,
      keyword: '',
      periodeList: null,
      tableItems: null,
      hoveredRow: null,
      tableData: [
        {
          key: "name",
          name: "name",
          label: "Nama Periode",
          sortable: true,
          thClass: "text-left small",
          tdClass: "text-left small"
        },
        {
          key: "description",
          name: "description",
          label: "Deskripsi",
          sortable: true,
          thClass: "text-center small",
          tdClass: "text-center small text-wrap"
        },


      ]
    }
  }, created () {
    this.fetchPeriodeData()
  },
  computed: {
    filteredTables () {
      return this.keyword
        ? this.tableItems.filter(
          item =>
            item.name.toLowerCase().includes(this.keyword.toLowerCase()) ||
            item.description.toLowerCase().includes(this.keyword.toLowerCase()))
        : this.tableItems;
    }


  },
  methods: {
    gotoEditUser (item) {
      this.$router.push({ name: 'periodeDukunTogel', params: { uuid: item.id } })
    },
    fetchPeriodeData () {
      var vm = this
      axios.get('/api/dukuntogel/periode')
        .then(r => {
          vm.tableItems = r.data.data
        }).catch(e => {
          console.log(e)
        })
    },
  },

}
</script>

<style>
</style>
