
<table class="livedraw-table">
  <tbody>
    <tr>
      <td colspan="4" class="img-livedraw"></td>
    </tr>
    <tr>
      <td class="box-color hk" colspan="4">Period : 3052 | 10-05-2020 (SUN)</td>
    </tr>



    <tr>
      <td class="box-color hk" colspan="2">Special Prize</td>
      <td class="box-value" colspan="2"><a>81704235</a></td>
    </tr>


    <tr>
      <td class="box-color hk" colspan="2">Grand Prize</td>
      <td class="box-value" colspan="2"><a>13005941</a></td>
    </tr>


    <tr>
      <td class="box-color hk" colspan="2">Regular Prize</td>
      <td class="box-value" colspan="2"><a>34838766</a></td>
    </tr>


    <tr>
      <td class="box-color hk" colspan="2">Second Prize</td>
      <td class="box-value" colspan="2"><a>73390604</a></td>
    </tr>


    <tr>
      <td class="box-color hk" colspan="2">Third Prize</td>
      <td class="box-value" colspan="2"><a>44132485</a></td>
    </tr>


    <tr>
      <td class="box-color hk" colspan="2">Fourth Prize</td>
      <td class="box-value" colspan="2"><a>67933827</a></td>
    </tr>








    <tr>
      <td class="box-color hk" colspan="4">
      </td>
    </tr>
  </tbody>
</table>
