<template>
  <div>

    <h2 class="text-center text-primary">Tambah Rekomendasi</h2>
    <form
      @submit="onSubmit"
      v-if="isLoading==false"
    >
      <div
        v-for="(item, index) in form"
        :key="index"
      >
        <b-form-group
          v-if="index!='id' && index!='position' "
          :id="`input-group-`+index"
          :description="`Masukkan data untuk `+index "
        >

          <b-form-input
            :id="`input-`+item"
            v-model="form[index]"
            type="text"
            required
            :placeholder="index"
          ></b-form-input>

        </b-form-group>
      </div>
      <b-form-group>
        <b-button
          :disabled="submitState"
          type="submit"
          variant="primary"
          block
        >SUBMIT</b-button>
      </b-form-group>

    </form>

    <h3
      class="text-center text-danger mt-5"
      v-else
    >Loading...</h3>

    <pre v-if="debug==true">{{form}}</pre>

  </div>
</template>

<script>
// import Axios from 'axios'
export default {

  data () {
    return {
      isLoading: false,
      debug: false,
      form: {
        id: '',
        nama: '',
        deskripsi: '',
        min_depo: '',
        rating: '',
        link: '',
      },
      forSave: {

      }
    }
  },
  computed: {
    submitState () {
      return this.form.id.length < 1 ||
        this.form.nama.length < 1 ||
        this.form.deskripsi.length < 1 ||
        this.form.min_depo.length < 1 ||
        this.form.rating.length < 1 ||
        this.form.link.length < 1 ? true : false
    }

  },
  created () {
    this.form.id = this.$route.params.uuid
    if (this.$route.params.uuid != 'new') {
      this.fetchData(this.$route.params.uuid)
    }

  },
  methods: {
    fetchData (uuid) {
      this.isLoading = true
      var vm = this
      axios.get('/api/rekomendasi/' + uuid)
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {
            vm.form = response.data.data
            vm.$bvToast.toast('Data Loaded', {
              variant: 'success',
              title: 'Success',
              autoHideDelay: 5000,
              appendToast: true
            })
            vm.isLoading = false

          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: 'Kode' + response.data.error.code,
              autoHideDelay: 5000,
              appendToast: append
            })
            console.log(response.data.error)
            vm.isLoading = false
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false

        })

    },
    onSubmit (e) {
      e.preventDefault();

      var vm = this
      this.isLoading = true
      axios.post('/api/rekomendasi', this.form)
        .then(function (response) {
          if (response.status == 200 && response.data.success == true) {

            vm.$bvToast.toast('Data Added', {
              variant: 'success',
              title: 'Success',
              autoHideDelay: 5000,
              appendToast: true
            })
            vm.$router.push({ name: 'manajemenRekomendasi' })
            vm.isLoading = false

          } else {
            vm.$bvToast.toast(response.data.error.msg, {
              title: 'Kode' + response.data.error.kode,
              autoHideDelay: 5000,
              appendToast: true
            })
            console.log(response.data.error)
             vm.isLoading = false
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
        })
    },
    showData () {
      console.log(this.form)
    }
  },
}
</script>

<style>
</style>
