<template>
  <div ref="editor"></div>
  <!-- <div
    ref="editor"
    v-html="value"

  ></div> -->
</template>
<script>
import HTMLBlot from './HTMLBlot'
import Quill from 'quill'


export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },

  data () {
    return {
      name: 'editor',
      editor: null,
      editorBody: this.body

    };
  },
  mounted () {
    Quill.register(HTMLBlot, true);
    this.editor = new Quill(this.$refs.editor, {
      modules: {
        toolbar: [
          [{ 'list': 'ordered' }, { 'list': 'bullet' }, 'link'],
          [{ 'align': 'center' }, { 'align': 'right' }, { 'align': 'justify' }],
          ['image', 'video'],
          [{ 'indent': '-1' }, { 'indent': '+1' }],
          ['bold', 'italic', 'underline', 'strike', 'code'],
          [{ 'header': '1' }, { 'header': '2' }, { 'header': '3' }],
          ['blockquote', 'code-block'],
          [{ 'color': [] }, { 'background': [] }],
          ['clean'],
        ]
      },
      theme: 'bubble',
      formats: ['bold', 'underline', 'header', 'italic']
    });

    this.editor.root.innerHTML = this.value;

    this.editor.on('text-change', () => this.update());
  },

  methods: {
    update () {
      this.$emit('htmlUpdate', this.editor.getText() ? this.editor.root.innerHTML : '');

    }
  }
}
</script>

