<template>
  <div>

    <div v-if="userSelectedHistory == null ">
      <h2 class="caption">Klasemen Sementara</h2>
      <input
        class="keyword"
        type="text"
        v-model="keyword"
        placeholder="Cari nama kamu disini"
      >

      <div
        class="pengumuman"
        v-html="pengumuman.html"
      ></div>
      <div class="klasemen-lomba header ">
        <div>Rank</div>
        <div>Nama</div>
        <div>JP</div>

        <div>History</div>
      </div>

      <div
        v-for="(item, index) in tableDataFilter"
        :key="index"
        class="klasemen-lomba"
      >
        <div>#{{(currentPage*20) + index+1}}</div>
        <div class="bandar-title">{{ item.name }}</div>
        <div>
          <span class="jp">JP {{ item.poin }} X</span>
        </div>

        <div>

          <a
            class="cek-history full big top"
            @click="checkHistory(item.data,item.angka_keluar)"
          >Cek History</a>
          <!-- <a class="daftar-bandarfull full big top-1">daftar</a> -->
        </div>

      </div>
      <div class="pagination">

        <a
          @click="prev"
          :class="`previous ` + prevClass"
        >&laquo; Previous</a>
        <a
          @click="next"
          :class="`next ` + nextClass"
        >Next &raquo;</a>
      </div>
    </div>
    <div
      v-else
      class="user-history"
    >

      <h3
        class="nama-dukun"
        v-if="userSelectedHistory[0].userName != null"
      >History Prediksi : {{userSelectedHistory[0].userName}}</h3>

      <table class="shio-table">
        <tbody>

          <tr
            v-for="(itemx, index) in userSelectedHistory"
            :key="index"
          >

            <td class="shio-name">{{ itemx.tanggal | formatTanggal }}</td>

            <td
              v-for="(itemz, index) in itemx.tebakan"
              :key="index"
              :class="{'shio-number jp':( itemx.status_tebakan != null && itemx.status_tebakan.angka_keluar.substr(2,3) ==  itemz.toString()),'shio-number':(itemx.status_tebakan != null && itemx.status_tebakan.angka_keluar.substr(2,3) !=  itemz.toString())}"
            >{{ itemz }}</td>

            <td class="shio-number">{{ itemx.status_tebakan !=null ? itemx.status_tebakan.angka_keluar : '' }}</td>
            <td :class="{'shio-number isnull':itemx.status_tebakan == null , 'shio-number isjp' : itemx.status_tebakan != null && itemx.status_tebakan.poin == 0 , ' notjp': itemx.status_tebakan != null && itemx.status_tebakan.poin != 0 }">{{ itemx.status_tebakan == null  ? '' :  itemx.status_tebakan.poin == 0 ? 'X' : 'JP'  }}</td>

          </tr>

        </tbody>
      </table>

      <!-- <div
        class="history-data"
        v-for="(itemx, index) in userSelectedHistory"
        :key="index"
      >

        <div class="history-item tanggal"><span>{{ itemx.tanggal }}</span></div>
        <div
          :class=" {'history-item keluaran jp':(itemx.status_tebakan.angka_keluar.substr(2,3) ==  itemz.toString()),'history-item keluaran':(itemx.status_tebakan.angka_keluar.substr(2,3) !=  itemz.toString())}"
          v-for="(itemz, index) in itemx.tebakan"
          :key="index"
        >
          <strong v-if="itemx.status_tebakan.angka_keluar.substr(2,3) ==  itemz.toString()"> {{itemz}}</strong>
          <span v-else>{{itemz}}</span>

        </div>
        <div class="history-item angka-keluar"><span>{{ itemx.status_tebakan.angka_keluar }}</span></div>
        <div class="history-item isjp"><span>{{ itemx.status_tebakan.poin == 0 ? 'X' : 'JP'  }}</span></div>

      </div> -->

      <!-- {{ userSelectedHistory }} -->

      <button
        class="button-back full big top"
        @click="{userSelectedHistory = null}"
      > Kembali </button>
    </div>

  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'klasemen-tebaknomor',
  data () {
    return {
      pengumuman: {
        html: ''
      },
      angka: null,
      keyword: '',
      userSelectedHistory: null,
      userHistory: null,
      perPage: 20,
      currentPage: 0,
      tableData: null,
    }
  },
  computed: {
    prevClass () {
      return this.currentPage == 0 ? 'hidden' : ''
    },
    nextClass () {
      return this.currentPage == this.pageCount - 1 || this.pageCount == 0
        ? 'hidden' : ''
    },

    // hitung paginasi
    pageCount () {
      if (this.tableData != null) {
        let l = this.tableData.length,
          s = this.perPage;
        return Math.ceil(l / s);

      }
    },
    paginatedData () {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;

      return this.tableData != null ? this.tableData.slice(start, end) : this.tableData
    },
    tableDataFilter () {
      return this.keyword != '' ? this.tableData.filter(
        item =>
          item.name.toLowerCase().includes(this.keyword.toLowerCase())

      ) : this.paginatedData

    }
  },

  created () {
    this.getKlasemen()
    this.fetchCustomMessage()
  },
  methods: {
    fetchCustomMessage () {
      var vm = this
      axios.get('/api/periode/custommsg')
        .then(r => {

          vm.pengumuman = r.data.pengumuman
        })
        .catch(e => {
          console.log(e)
        })
    },

    filterPoin (e) {
      console.log(e)
    },

    getKlasemen () {
      var vm = this
      axios.get('/api/periode/klasemen')
        .then(r => {
          r.status == 200 ? vm.tableData = r.data.data : ''
        }).catch(e => {
          console.log(e)
        })
    },
    next () {
      this.currentPage < this.pageCount - 1 ? this.currentPage = this.currentPage + 1 : ''
      console.log(this.currentPage + ' max : ' + this.pageCount)
    },
    prev () {
      this.currentPage >= 0 ? this.currentPage = this.currentPage - 1 : ''
      console.log(this.currentPage + ' max : ' + this.pageCount)
    },
    checkHistory (iduser, angka) {
      this.userSelectedHistory = iduser
      this.angka = angka
    },
    showKlasemen () {
      this.userSelectedHistory = null
      this.userHistory = null
    }
  },


}
</script>



