<template>
  <div>

    <b-overlay :show="isLoading">
      <h3 class="text-center text-primary mb-3">Tambah Halaman</h3>
      <b-form
        @submit="onSubmit"
        @reset="onReset"
      >
        <b-form-group
          label="Judul Halaman"
          :invalid-feedback="invalidTitle"
          label-for="form-title"
        >
          <b-form-input
            id="form-title"
            name="title"
            type="text"
            required
            placeholder="Masukkan Judul Halaman"
            v-model="form.title"
            :state="titleState"
          />
        </b-form-group>
        <b-form-group
          label="Slug"
          label-for="form-slug"
        >
          <b-form-input
            id="form-slug"
            name="title"
            type="text"
            placeholder="Boleh diisi atau dikosongkan"
            v-model="form.slug"
          />
        </b-form-group>
        <b-form-group
          label="Featured Image"
          label-for="form-name"
        >
          <b-form-input
            id="form-title"
            name="title"
            type="text"
            placeholder="Diisi dengan URL Featured Image "
            v-model="form.featured_image"
          />
        </b-form-group>

        <b-form-group
          label="Tags"
          label-for="form-name"
        >
          <b-form-input
            id="form-tags"
            name="tags"
            type="text"
            placeholder="Pisahkan tag dengan koma "
            v-model="form.tags"
          />
        </b-form-group>
        <b-form-group
          label="Deskripsi"
          label-for="form-description"
        >
          <b-form-input
            id="form-tags"
            name="description"
            type="text"
            placeholder="Masukkan deskripsi"
            v-model="form.description"
          />
        </b-form-group>
        <!-- {{form.html}} -->
        <b-form-group>
          <b-button
            type="submit"
            variant="primary"
            block
          >SUBMIT</b-button>
        </b-form-group>
        <b-form-group label="Text / HTML">
          <!-- <editor
            v-model="tempHtml"
            v-if="form.html!=''"
            v-on:htmlUpdate="updateHtml"
          ></editor> -->
          <custom-html
            v-if="form.html !=''"
            v-model="form.html"
            v-on:htmlUpdate="updateHtml"
          ></custom-html>

        </b-form-group>

      </b-form>
      <template v-slot:overlay>
        <div class="text-center">
          <Origami></Origami>
        </div>
      </template>
    </b-overlay>

  </div>
</template>

<script>


import axios from "axios";
import { Origami } from "vue-loading-spinner";

export default {
  components: {
    Origami
  },
  data () {
    return {
      pageTitle: 'Tambah Halaman',
      isLoading: false,
      tempHtml: "",
      form: {

        slug: "",
        title: "",
        featured_image: "",
        tags: null,
        html: ""
      },

    }
  },
  created () {
    if (this.$route.params.id != null) {
      this.pageTitle = 'Edit Halaman'
      this.fetchDetails(this.$route.params.id)
    } else {
      this.form.html = '<!-- KETIK DIBAWAH -->'
    }
  },
  computed: {

    htmlState () {
      return (this.form.html == null || this.form.html == '<!-- KETIK DIBAWAH -->' ? false : true);
    },
    titleState () {
      return this.form.title.length < 3 ? false : true
    },
    invalidTitle () {
      return this.form.title.length < 3 ? 'Panjang title minimal 3 huruf' : ''
    }

  },
  methods: {
    updateHtml (value) {
      this.form.html = value
      // console.log('from child: ' + value)
    },
    fetchDetails (id) {
      var vm = this
      this.isLoading = true
      axios.get('/api/page/details/' + id)
        .then(function (response) {
          if (response.data.success == true) {
            vm.form = response.data.data
            vm.tempHtml = response.data.data.html
            // console.log(vm.form.html)
            vm.isLoading = false
          }
        }).catch(function (error) {
          console.log(error)
          vm.isLoading = false
        })
    },
    changeToHTML () {

      var encodedStr = this.form.html.replace(/[\u00A0-\u9999<>\&]/gim, function (i) {
        return '&#' + i.charCodeAt(0) + ';';
      });
      this.form.html = encodedStr
    },
    onSubmit (e) {
      e.preventDefault()
      var vm = this
      this.isLoading = true
      axios.post('/api/page/add', this.form)
        .then(function (response) {
          if (response.data.success == true) {
            vm.isLoading = false
            vm.$router.push({ name: 'manajemenPageList' })
          }

        })
        .catch(function (error) {
          console.log(error)
        })
    },
    onReset (e) {
      e.preventDefault()
    }
  },

}
</script>
