<template>
  <div>

    <h2 class="text-center"> SIDEBAR</h2>
    <b-button
      variant="primary"
      block
      @click="addSidebar"
    >BUAT SIDEBAR</b-button>

    <b-overlay
      :show="isLoading"
      rounded="sm"
    >
      <h3 class="text-center mt-3">Silahkan Pindahkan Posisi Menu</h3>
      <b-button
        v-if="menuList != null && isLoading== false"
        block
        @click="updateOrder"
        class="mt-5 mb-3"
        variant="success"
      >
        <iconCheckCircle> </iconCheckCircle>&nbsp; SIMPAN PERUBAHAN
      </b-button>
      <table class="table table-striped">

        <draggable
          v-if="menuList != null"
          v-model="menuList"
          @start="drag=true"
          v-bind="dragOptions"
          @end="drag=false"
          tag="tbody"
        >
          <tr
            v-for="(item, index) in menuList"
            :key="item.id"
          >
            <td scope="row">{{ index+1 }}</td>
            <td>{{ item.name }}</td>
            <td class="text-center">
              <b-button-group>

                <b-button
                  variant="info"
                  @click="editSidebar(item.id)"
                >
                 <iconPencil></iconPencil>
                </b-button>
                <b-button
                  variant="danger"
                  @click="deleteSidebar(item.id)"
                >
                <iconTrash></iconTrash>
                </b-button>
              </b-button-group>
            </td>

          </tr>
        </draggable>
        <b-list-group v-else>
          <b-list-group-item
            v-for="(item, index) in menuList"
            :key="index"
          >Menu is Loading....</b-list-group-item>
        </b-list-group>
      </table>

      <template v-slot:overlay>
        <div
          class="text-center"
          v-if="isConfirm == false"
        >
          <Origami></Origami>
        </div>
        <div
          v-else
          ref="dialog"
          tabindex="-1"
          role="dialog"
          aria-modal="false"
          aria-labelledby="form-confirm-label"
          class="text-center p-3"
        >
          <p><strong id="form-confirm-label">Hapus Menu?</strong></p>
          <div class="d-flex">
            <b-button
              variant="outline-danger"
              class="mr-3"
              @click="cancelDelete"
            >
              Cancel
            </b-button>
            <b-button
              variant="outline-success"
              @click="confirmDelete"
            >OK</b-button>
          </div>
        </div>
      </template>

    </b-overlay>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import axios from "axios";
import Origami from "vue-loading-spinner/src/components/Origami";

export default {
  components: {
    draggable,
    Origami
  },
  data () {
    return {
      deleteID: null,
      isConfirm: false,
      modelItems: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
      drag: false,
      menuList: null,
      isLoading: true,
      menuList: null,
    }
  },
  created () {
    this.fetchMenu()
  },
  computed: {
    dragOptions () {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    updateOrder () {

    },
    fetchMenu () {
      var vm = this
      axios.get('/api/sidebar/list')
        .then(function (response) {
          vm.menuList = response.data.data
          vm.isLoading = false
        }).catch(function (error) {
          console.log(error)
        })
    },
    confirmDelete () {
      var vm = this
      this.isLoading = true
      this.isConfirm = false
      axios
        .post("/api/sidebar/delete", { id: this.deleteID })
        .then(function (response) {
          // console.log(response.data.data);
          vm.menuList = response.data.data
          vm.fetchMenu()
          vm.isLoading = false;
          // return response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });

    },

    cancelDelete () {
      this.isLoading = false
      this.isConfirm = false
    },
    deleteSidebar (id) {
      this.deleteID = id
      this.isLoading = true
      this.isConfirm = true

    },
    editSidebar (id) {
      this.$router.push({ name: 'manajemenSidebarEdit', params: { id: id } })
    },

    addSidebar () {
      this.$router.push({ name: 'manajemenSidebarAdd' })
    }
  },
}
</script>

<style>
</style>
