<template>
  <div>

    <div class="keyword">
      <input
        type="text"
        name="keyword"
        v-model="keyword"
        id="keyword"
        placeholder="Masukkan kata kunci"
      >
    </div>

    <div class="bukumimpi">
      <div
        class="mimpi2d"
        v-for="(item, index) in datamimpi"
        :key="index"
      >
        <div class="angka">{{ item.angka }}</div>
        <div class="text">{{ item.text }}</div>
        <hr class="garismimpi">
      </div>

    </div>

  </div>
</template>

<script>
import array2d from './item/bukumimpi2D.js'
export default {
  data () {
    return {
      keyword: '',
      name: 'bukumimpi',
      twoD: array2d
    }
  },
  computed: {
    datamimpi () {
      return this.keyword
        ? this.twoD.filter(
          item =>
            item.angka.toLowerCase().includes(this.keyword.toLowerCase()) ||
            item.text.toLowerCase().includes(this.keyword.toLowerCase())
        )
        : this.twoD;
    }


  },
  created () {


  },



}
</script>

<style>
.bukumimpi {
  /* min-height: 600px; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: repeat(10px, 10px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.keyword {
  margin: 10px 0px 10px 0px;
}
.keyword input {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #272b30;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.angka {
  font-size: 2em;
  margin: 10px 0px 10px 0px;
}
.huruf {
  font-size: 1em;
}
</style>
