<template>
  <div>
    <div
      class="lomba-snk--header jsTriggerBtnTnc"
      @click="toggle"
    >
      <div>Kata Pengantar</div>
      <div>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="angle-down"
          class="svg-inline--fa fa-angle-down fa-w-10"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"
          ></path>
        </svg></div>
    </div>
    <div :class="`lomba-snk--details ` + isShow">
      <div
        v-if="html!=null"
        v-html="html"
      >

      </div>

    </div>
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  name: 'kata-pengantar',
  data () {
    return {
      show: false,
      html: null

    }
  },
  computed: {
    isShow () {
      return this.show == true ? '' : 'hidden'
    }
  },
  created () {
    this.getSNK()
  },
  methods: {
    getSNK () {
      var vm = this
      axios.get('/api/periode/katapengantar').then(R => {
        R.status == 200 ? vm.html = R.data.data : console.log(R.data.error.msg)
      })
    },
    toggle () {
      this.show = !this.show
    }
  },

}
</script>

<style lang="scss" scoped>
.lomba-snk--header {
  background-image: linear-gradient(48deg, #202020, #0977b5);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.hidden {
  display: none;
}
.lomba-snk--details {
}
</style>
