<template>
  <div>

    <div
      id="livedraw-banner-top"
      v-html="banner.header"
    ></div>
    <div
      v-if="data!=null"
      v-html="data"
      class="html"
    ></div>
    <div
      id="livedraw-banner-footer"
      v-html="banner.footer"
    ></div>

    <button
      @click="refresh"
      class="button buttonreload"
    >
      REFRESH
    </button>

  </div>
</template>

<script>
// import axios from 'axios'
export default {
  props: ['kode'],
  name: 'live-draw',
  data () {
    return {
      data: null,
      banner: {
        header: '',
        footer: ''
      }

    }
  },
  created () {
    this.fetchBanner()
    this.fetch()
    setInterval(this.fetch, 10000)
  },
  methods: {
    refresh () {
      location.reload();
    },

    fetchBanner () {
      var vm = this
      axios.get('/api/livedrawBanner')
        .then(r => {
          r.status == 200 ? vm.banner = r.data.data : console.log(r)
        })
    },
    fetch () {
      var vm = this
      axios.get('/api/livedraw/' + this.kode)
        .then(r => {
          r.status == 200 ? vm.data = r.data.data : console.log(r)
        })
    }
  },

}
</script>


<style lang="scss">

</style>
