<template>
  <div>

    <!-- HEADER -->

    <!-- LOOP -->

    <div v-if="rekomendasi!=null">
      <div class="bandar-list-row header ">
        <div>Rank</div>
        <div>Situs</div>
        <div>Min Deposit</div>
        <div class="text-center">Review</div>
        <div>Daftar</div>
      </div>
      <!-- loop item -->
      <div
        v-for="(item, index) in rekomendasi"
        :key="index"
      >
        <div :class="`bandar-list-row top`+ (index+1)">
          <div>#{{index+1}}</div>
          <div class="bandar-title">{{ item.nama }}</div>
          <div>
            <span><small>Rp </small>{{ currency(item.min_depo) }}</span>
          </div>

          <div :class="index < 3? 'star-rating':''">
            {{ index=='0' ? '★ ★ ★ ★ ★': index=='1' || index=='2' ? '★ ★ ★ ★ ☆' : '★ ★ ★ ★' }}
          </div>
          <div>
            <a
              rel="nofollow"
              :class="`daftar-bandar full big top`+(index+1) "
              target="_blank"
              :href="item.link"
            >daftar</a>
          </div>

        </div>
        <!-- banner3 -->
        <div
          class="banner3"
          v-if="index=='2' && banner3 != null"
          v-html="banner3.html"
        >

        </div>
        <!-- banner6 -->
        <div
          class="banner6"
          v-if="index=='5' && banner6 != null"
          v-html="banner6.html"
        >

        </div>

        <!-- loop item -->

      </div>

    </div>
    <!-- else -->
    <div v-else>
      <div
        v-for="(item, index) in sample"
        :key="index"
        :class="`blurred bandar-list-row top`+ (index+1)"
      >
        <div>#</div>
        <div class="bandar-title">Loading...</div>
        <div>
          <span><small></small>$$$$$</span>
        </div>

        <div :class="index < 3? 'star-rating':''">
          {{ index=='0' ? '★ ★ ★ ★ ★': index=='1' || index=='2' ? '★ ★ ★ ★ ☆' : '★ ★ ★ ★' }}
        </div>
        <div>
          <a
            rel="nofollow"
            :class="`daftar-bandar full big top`+(index+1) "
            target="_blank"
          >daftar</a>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
// import axios from 'axios'
export default {

  name: 'togel-rekomendasi',
  data () {
    return {
      name: 'togel-rekomendasi',
      rekomendasi: null,
      sample: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      banner3: null,
      banner6: null

    }
  },
  created () {
    this.fetch()
    this.fetch3()
    this.fetch6()

  },

  methods: {
    currency (amount) {
      const amt = Number(amount)
      return  amt && amt.toLocaleString(undefined, { maximumFractionDigits: 2 }).replace(',','.') || '0'
    },
    fixed3 (value) {
      return (value / 1).toFixed(2).toLocalString()
      let val = (value / 1).toFixed(2).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    fetch () {

      var vm = this
      axios.get('/api/rekomendasi')
        .then(function (response) {
          if (response.status == 200) {
            vm.rekomendasi = response.data.data
          }
        }).catch(function (error) {
          console.log(error)
        })
    },
    fetch3 () {

      var vm = this
      axios.get('/api/banner/details/baris-ketiga')
        .then(function (response) {
          if (response.status == 200) {
            vm.banner3 = response.data.data
          }
        }).catch(function (error) {
          console.log(error)
        })
    },
    fetch6 () {

      var vm = this
      axios.get('/api/banner/details/baris-keenam')
        .then(function (response) {
          if (response.status == 200) {
            vm.banner6 = response.data.data
          }
        }).catch(function (error) {
          console.log(error)
        })
    }
  },

}
</script>
<style lang="scss">
.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
}
</style>
